#instructions, #highscores, #game, #welcome {
    display: none;
}
#instructions:target, #highscores:target, #game:target, #welcome:target {
    display: block;
}
#lives > div {
    color: #FF0000;
    display: block;
}
#lives .big-heart {
    font-size: 200%;
}
body > .container:first-child {
    min-height: 500px;
}
#letters button {
    width: 3em;
    height: 3em;
}