/* fonts start */
body, .btn, .form-control {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
}
#word, #wrongGuesses {
    font-size: 30px;
}
h1, h2 {
    text-align: center;
}
#lives .big-heart {
    font-size: 200%;
}
/* fonts end */

/* colors start */
.glyphicon-heart, .glyphicon-heart-empty {
    color: #FF0000;
}
/* colors end */

/* positioning and dimensions start */
#wrongGuesses > span {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
#wrongGuesses > span:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-bottom: 2px solid;
    border-color: #FF0000;
    transform:rotate(-45deg);
}
body > .container:first-child {
    min-height: 500px;
}
#letters button {
    width: 3em;
    height: 3em;
}
#letters {
    padding: 15px;
}
/* positioning and dimensions end */

/* visibility start */
#welcome, #instructions, #highscores, #game {
    display: none;
}
#welcome:target, #instructions:target, #highscores:target, #game:target {
    display: block;
}
/* visibility end */

/* responsive hacks start */
@media (max-width:767px) {
    .col-xs-6.col-sm-12.well.well-sm {
        margin-bottom: 0;
    }
}
@media (min-width:768px){
    #lives > div {
        display: block;
    }
}
/* responsive hacks end */