body, .btn, .form-control {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
}
#word, #wrongGuesses {
    font-size: 30px;
}
h1, h2 {
    text-align: center;
}
#wrongGuesses > span {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
#wrongGuesses > span:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-bottom: 2px solid;
    border-color: #FF0000;
    transform:rotate(-45deg);
}
#welcome, #instructions, #highscores, #game {
    display: none;
}
#welcome:target, #instructions:target, #highscores:target, #game:target, #lives > div {
    display: block;
}
.glyphicon-heart, .glyphicon-heart-empty {
    color: #FF0000;
}

#lives .big-heart {
    font-size: 200%;
}
body > .container:first-child {
    min-height: 500px;
}
#letters button {
    width: 3em;
    height: 3em;
}